body {
  margin: 0;
  padding: 0;

  font-family: "Outfit", Sans-serif;
  line-height: 1.5;

  background-color: #161616;
  color: #fff;

  -webkit-font-smoothing: antialiased;

  background-image: radial-gradient(#3d3d3d 0.5px, transparent 1px);
  background-size: 30px 30px;
}
